include ../produce/produce

mixin about()
	.about
		h2.about__title Моспромжелезобетон - современное производство ЖБИ и металлоконструкций
		.about__text
			p ОАО «Моспромжелезобетон» - крупное специализированное предприятие, производящее широкий ассортимент изделий из сборного железобетона, товарных арматуры и бетона для промышленных, жилищных, социально-культурных и инженерных объектов. ОАО «Моспромжелезобетон» располагает производственными мощностями для выпуска более 300 тысяч кубических метров сборного железобетона, 200 тысяч кубических метров товарного бктона, 35 тысяч тонн товарной арматуры ежегодно. В числе заказчиков предприятия - столичное правительство, отечественные и иностранные фирмы и организации, ведущие строительство не только в Москве, но и по всей Росии. В номенклатуру изготавливаемой продукции входит более 1000 наименований ЖБИ.
		+produce()
