include ../icon/icon

mixin advantages()
	.advantages
		h2.advantages__title Наши достижения:
		ul.advantages__list
			li.advantages__item Премия Совета Министерств СССР за достижения в области строительства
			li.advantages__item Членство в Гильдии предприятий строительной индустрии
			li.advantages__item Диплом Московской торгово-промышленной палаты
			li.advantages__item Диплом в номинации «Производство строительных материалов, изделий и конструкций, инжениринговые услуги, контроль качества строительства (изготовления строительных материалов, изделий и конструкций)»
