.advantages
	padding-left 60px
	// background #94d6d5
	+r($l)
		padding-left 0
	&__title
		margin-bottom 43px
		@extends .title
		+r($l)
			margin-bottom 27px
	// &__list
	&__item
		position relative
		margin-bottom 26px
		padding-left 30px
		&:after
			position absolute
			top 10px
			left 0
			content ''
			width 13px
			height 10px
			background url(../images/general/list-icon.svg) 0 0 / cover no-repeat
