.nav
	display inline-block
	vertical-align middle
	&__list
		font-size 0
	&__item,
	li
		display inline-block
		vertical-align middle
		&:last-child
			.nav__link,
			a
				padding-right 0
	&__link,
	a
		position relative
		padding-top 18px
		padding-right 30px
		padding-bottom 17px
		display block
		color #292929
		font-size 18px
		text-decoration none
		text-transform uppercase
		+r($t)
			padding-top 10px
			padding-right 10px
			padding-bottom 10px
			font-size 14px
	&__link-icon
		margin-left 12px
		display inline-block
		vertical-align middle
		width 10px
		height 10px
		fill #292929
		+r($m)
			margin-left 0
.nav_second
	.nav__title
		margin-bottom 30px
		color #ffffff
		font-size 18px
		line-height 22px
		text-transform uppercase
	.nav__item,
	li
		margin-bottom 14px
		display block
	.nav__link,
	a
		padding 0
		text-decoration underline
		font-size 14px
		color #7f7f7f
		line-height 21px
		text-transform none
		&:hover
			text-decoration none

	.nav__item-date
		padding 0 2px
		display inline-block
		vertical-align top
		background-color #4cbaba
		color #292929
		font-size 14px
		line-height 1.4


.nav_third
	display block
	.nav__list
		font-size 0
		white-space nowrap
		text-align center
	.nav__item
		display inline-block
		vertical-align top
		&:last-child
			.nav__link
				padding-right 17px

	.nav__item_active
		.nav__link
			border-radius 5px
			border 2px solid #4cbaba
			background-color #ffffff
	.nav__link
		border 2px solid transparent
		padding-top 10px
		padding-right 17px
		padding-bottom 11px
		padding-left 16px
		display block
		color #292929
		font-size 14px
		text-transform uppercase
		text-decoration none
		tr(all .3s ease)
		&:hover,
		&:focus
			color #292929
			text-decoration none
		+r($t)
			padding-right 6px
			padding-left 8px
			font-size 12px
