.nav
	display inline-block
	vertical-align middle
	+r($m)
		display block
	&__trigger
		border 1px solid #404040
		margin-top 10px
		margin-bottom 10px
		padding-top 5px
		padding-right 20px
		padding-bottom 6px
		padding-left 20px
		display none
		font-family $mM
		font-weight normal
		font-size 14px
		color #292929
		text-transform uppercase
		text-align left
		cursor pointer
		border-radius 5px
		clr()
		+r($m)
			display block
	&__trigger-text,
	&__trigger-icon
		display inline-block
		vertical-align middle
	&__trigger-text
		margin-right 5px
	&__trigger-icon
		margin-top 5px
		float right
		width 12px
		height 14px
		fill #292929
	&__checkbox
		display none
		+r($m)
			&:checked +
				.nav__list
					display block
					.nav__item,
					.nav li
						display block
						text-align center
					.nav__link,
					.nav a
						padding-left 0
						padding-right 0
	&__list
		font-size 0
		+r($m)
			display none
	&__item,
	li
		display inline-block
		vertical-align middle
		&:last-child
			.nav__link,
			a
				padding-right 0
		&:hover
			.subnav
				display block
	&__link,
	a
		position relative
		padding-top 18px
		padding-right 30px
		padding-bottom 17px
		display block
		color #292929
		font-size 18px
		font-family $mM
		font-weight normal
		text-decoration none
		text-transform uppercase
		tr(all .3s ease)
		&:hover
			color #4CBABA
		+r($t)
			padding-top 10px
			padding-right 10px
			padding-bottom 10px
			font-size 14px
	&__link-icon
		margin-left 12px
		display inline-block
		vertical-align middle
		width 10px
		height 10px
		fill #292929
		+r($m)
			margin-left 0




.nav_second
	.nav__title
		margin-bottom 30px
		color #ffffff
		font-family $mM
		font-weight normal
		font-size 18px
		// line-height 22px
		line-height 1.22222222222222
		text-transform uppercase
	.nav__list
		+r($m)
			display block
	.nav__list li
		margin-bottom 14px
		display block
	.nav__list a
		padding 0
		text-decoration underline
		font-size 14px
		color #7f7f7f
		line-height 21px
		text-transform none
		text-decoration none
		&:hover
			text-decoration none

	.nav__item-date
		padding 0 2px
		display inline-block
		vertical-align top
		background-color #4cbaba
		color #292929
		font-size 14px
		line-height 1.4


.nav_third
	display block
	.nav__list
		margin-bottom 0
		font-size 0
		white-space nowrap
		text-align center
		+r($m)
			display block
	.nav__list li
		display inline-block
		vertical-align top
		&:last-child
			a
				padding-right 17px

	.nav__item_active
		a
			border-radius 5px
			border 2px solid #4cbaba
			background-color #ffffff
	.nav__list a
		border 2px solid transparent
		padding-top 10px
		padding-right 17px
		padding-bottom 11px
		padding-left 16px
		display block
		color #292929
		font-size 14px
		text-transform uppercase
		text-decoration none
		tr(all .3s ease)
		&:hover,
		&:focus
			color #292929
			text-decoration none
		+r($t)
			padding-right 6px
			padding-left 8px
			font-size 12px


.subnav
	position absolute
	z-index 1
	top calc(100% + 6px)
	left 15px
	right 15px
	padding-top 30px
	padding-right 40px
	padding-bottom 30px
	padding-left 40px
	// width 100%
	display none
	box-shadow 0 0 20px rgba(41, 41, 41, 0.2)
	background-color #ffffff
	clr()
	+r($l)
		top 100%
	+r($t)
		padding-top 15px
		padding-right 20px
		padding-left 20px
		padding-bottom 15px
	+r(480px)
		position static
	&:before
		position absolute
		top -40px
		right 0
		left 0
		height 50px
		content ""
		background transparent
		+r($l)
			top -15px
			height 30px
	&__col
		margin-right 30px
		width 48%
		float left
		+r($l)
			width 100%
			margin-right 0
		&:last-child
			margin-right 0
	&__nav
		margin-bottom 10px
		&:last-child
			margin-bottom 0

	.subnav__title
		margin 0
		margin-bottom 20px
		padding 0
		display block
		color #292929
		font-family $mM
		font-weight normal
		font-size 18px
		text-decoration underline
		text-transform uppercase
		&:hover
			color #4cbaba
			text-decoration none
	.subnav__list
		margin 0
		font-size 0
	.subnav__list li
		margin-right 30px
		margin-bottom 10px
		width 47%
		font-size 14px
		+r($l)
			width 100%
			margin-right 0
			text-align left
		&:first-child
			width 100%
			margin-right 0
			margin-bottom 20px
			a
				margin 0
				padding 0
				display block
				color #292929
				font-family $mM
				font-weight normal
				font-size 18px
				text-decoration underline
				text-transform uppercase
				+r($t)
					font-size 14px
				&:hover
					color #4cbaba
					text-decoration none
		&:nth-child(2n + 3)
			margin-right 0
	.subnav__list a
		margin 0
		padding 0
		display block
		font-size 14px
		color #292929
		text-transform none
		+r($t)
			font-size 12px
		span
			color #7f7f7f
		&:hover
			color #4cbaba
			text-decoration none
