.section
	background #eeeeee url('../images/general/section-bg.png') 50% 0 repeat-y
	+r($l)
		background #eee
	&__in
		padding-top 70px
		padding-bottom 90px
		+r($l)
			padding-top 44px
			padding-bottom 56px
		+r($t)
			padding-top (44 / 2)px
			padding-bottom (56 / 2)px
