.page
	background #fff
	font-display swap
	// font-family $v
	font-family $mR
	font-weight normal
	font-size 16px
	color #292929

	line-height 1.625
	letter-spacing tracking(-25, 16)
	tr(font-size .3s ease)
	+r($t)
		font-size 14px

.page
	.main
		padding-bottom 100px
		+r($t)
			padding-bottom 50px
		+r($m)
			padding-bottom 40px
	.main__in
		padding-bottom 0


.button
	border none
	padding-top 21px
	padding-right 60px
	padding-bottom 19px
	padding-left 60px
	display inline-block
	vertical-align middle
	border-radius 5px
	background-color #4cbaba
	color #ffffff
	font-family $mM
	font-weight normal
	font-size 18px
	text-align center
	line-height 1
	text-decoration none
	text-transform uppercase
	tr(all .3s ease)
	+r($t)
		padding-top 10px
		padding-right 30px
		padding-bottom 10px
		padding-left 30px
	&:hover,
	&:focus
		background-color darken(#4cbaba, 10)
		color #ffffff
		text-decoration none
	&__icon
		margin-left 15px
		width 20px
		height 14px
		fill #ffffff

.button_second
	padding-top 19px
	padding-right 15px
	padding-bottom 15px
	padding-left 13px
	background-color #eeeeee
	font-family $mM
	font-weight normal
	font-size 14px
	color #292929
	letter-spacing tracking(-25, 14)
	.button__icon
		margin-left 0
		margin-right 5px
		display inline-block
		vertical-align middle
		width 18px
		height 17px
		fill #4cbaba
	&:hover
		background-color darken(#eeeeee, 10)
		color #292929

.title
	margin-top 0
	font-size 36px
	font-family $mB
	// font-weight 700
	font-weight normal
	text-transform uppercase
	line-height 46px
	letter-spacing tracking(-25, 36)
	hyphens auto
	+r($l)
		font-size 22px
		line-height 29px
	+r($t)
		font-size 18px
		line-height 24px

.subtitle
	margin-top 0
	font-size 24px
	font-family $mB
	// font-weight 700
	font-weight normal
	text-transform uppercase
	letter-spacing tracking(-25, 24)
	hyphens auto
	+r($l)
		font-size 15px
	+r($t)
		font-size 14px
img
	display block
	max-width 100%
	height auto

.wysiwyg
	h1
		margin-top 0
		margin-bottom 50px
		font-size 36px
		font-family $mB
		// font-weight 700
		font-weight normal
		text-transform uppercase
		line-height 46px
		letter-spacing tracking(-25, 36)
		hyphens auto
		+r($l)
			margin-bottom 31px
			font-size 22px
			line-height 29px
		+r($t)
			margin-bottom 19px
			font-size 14px
			line-height 18px
	h2,
	h3,
	h4
		margin-top 0
		margin-bottom 30px
		font-size 24px
		font-family $mB
		// font-weight 700
		font-weight normal
		line-height 1.33333333333333
		text-transform uppercase
		letter-spacing tracking(-25, 24)
		hyphens auto
		+r($l)
			margin-bottom 31px
			font-size 15px
		+r($t)
			margin-bottom 19px
	ul
		margin-left 0
		margin-bottom 50px
		&.list.list_style-second
			font-weight normal
			font-size 16px
			li
				position relative
				margin-bottom 5px
				padding-left 13px
				&:after
					position absolute
					top 13px
					left 0
					width 3px
					height 3px
					background #4cbaba
					content ""
					border-radius 50%
		&.list.list_style-first
			li
				position relative
				margin-bottom 26px
				padding-left 30px
				&:after
					position absolute
					top 10px
					left 0
					content ''
					width 13px
					height 10px
					background url('../images/general/list-icon.svg') 0 0 / cover no-repeat
					fill #4cbaba
				&:last-child
					margin-bottom 0

	p
		margin-bottom 30px
		font-size 16px
		line-height 1.625
		letter-spacing tracking(-25, 16)
		hyphens auto
		&:last-child
			margin-bottom 0
		+r($l)
			margin-bottom 31px
		+r($t)
			margin-bottom 19px
			font-size 14px
