.header
	position relative
	z-index 1
	&__top
		padding-top 12px
		padding-bottom 15px
		min-height 50px
		background-color #292929
		font-size 14px
		color #7f7f7f
		+r($l)
			text-align left
		+r($m)
			padding-bottom 4px
			line-height 1

	&__time,
	&__phone,
	&__bid,
	&__download,
	&__tender
		display inline-block
		vertical-align middle
		color #7f7f7f
		text-decoration none
		font-size 14px
		&:hover
			color #7f7f7f
			text-decoration underline
		+r($d)
			margin-bottom 6px
			margin-right 30px
		+r($m)
			margin-bottom 4px
			font-size 11px
			text-align left
	&__time,
	&__phone
		margin-right 30px
		&:last-child
			margin-right 0

	&__time
		&:hover
			text-decoration none
	&__time-icon,
	&__phone-icon,
	&__bid-icon,
	&__download-icon,
	&__tender-icon
		margin-right 5px
		display inline-block
		vertical-align middle
		width 14px
		height 14px
		fill #4cbaba
	&__top-right
		padding-top 7px
		justify()
		+r($d)
			text-align left
			text-align-last left
			&:after

				display none
		+r($l)
			padding-top 0
			text-align left
			text-align-last left
		+r($t)
			text-align-last center
		+r($m)
			padding-top 0
			text-align left
			text-align-last left
	&__body
		padding-top 34px
		padding-bottom 35px
		background-color #ffffff
		font-size 0
		box-shadow 0 0 20px rgba(41, 41, 41, .2)
		+r($l)
			text-align center
		+r($m)
			text-align left
	&__in
		clr()
	&__logo,
	&__nav,
	&__search-form
		display inline-block
		vertical-align middle
		+r($d)
			display block
	&__logo
		margin-right 65px
		+r($l)
			margin auto
	&__search-form
		margin-top 12px
		float right
		+r($m)
			margin-top 0

.logo
	retinaSprite($logo_group)
	+r($m)
		width 100%
		background url('../images/general/logo.png') 0 0 no-repeat
		background-size contain
