.clients
	display block
	background #eee
	&__in
		padding-top 72px
		padding-bottom 72px
	&__title
		margin-bottom 50px
		@extends .title
		text-align center
	&__list-w
		overflow hidden
	&__list
		font-size 0
		margin-right -30px
	&__item
		margin-right 30px
		margin-bottom 30px
		width 262px
		height 262px
		display inline-block
		vertical-align top
	&__link
		position relative
		height 100%
		display block
		img
			position absolute
			top 50%
			left 50%
			display block
			max-width 100%
			height auto
			transform translate(-50%, -50%)
