.footer
	display block
	&__body
		padding-top 74px
		padding-bottom 42px
		background-color #292929
		+r($l)
			padding-top 46px
			padding-bottom 39px
	&__col
		margin-bottom 20px
	&__in
		clr()
	&__bottom
		padding-top 6px
		padding-bottom 6px
		background-color #4cbaba
	&__copyright
		font-size 14px
		line-height 37px
		a
			color #292929
			text-decoration underline
			&:hover
				color #292929
				text-decoration none
